body{
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}
p{
    margin: 0px;
    padding: 0px;
}
ul{
    padding: 0px;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
body>div{
    margin: 0px auto;
}
nav{
    width: 100%;
    padding: 8px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #e58335;
}
nav>div{
    width: 100%;
    display: flex;
    align-items: center;
}
nav>div>section{
    width: 7%;
    margin: 3px 13px;
}
nav img{
    width: 100%;
}
nav>div a:nth-of-type(1){
    width: 70%;
}
nav input{
    width: 100%;
    /*height: 27px;*/
    border-radius: 2px;
    border: none;
}
nav a:nth-of-type(2){
    font-size: 0.5rem;
    color: white;
    margin-left: 10px;
    /*margin: 0px 10px;*/
}
.news{
    width: 100%;
    height: 40px;
    background-color: #fff;
}
.news img{
    height: 100%;
}
.news span{
    font-size: 13px;
    margin-left: 9px;
    padding: 0px 10px 1px;
    border-left: 1px solid gray;
}
.one{
    width: 100%;
    margin-top: 8px;
    background-color: #fff;
    display: flex;
}
.one section{
    width: 50%;
    box-sizing: border-box;
}
.one .left{
    padding-right: 1px;
}
.img1{
    width: 100%;
}
.one .right{
    padding-left: 1px;
}
.img2,.img3{
    width: 100%;
}
.img3{
    margin-top: 2px;
}
.img4{
    width: 100%;
    margin-top: 7px;
}
.img5{
    width: 100%;
    margin-top: 7px;
}
.two{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.two section{
    width: 50%;
    box-sizing: border-box;
    position: relative;
}
.two .left{
    padding-right: 1px;
}
.two img{
    width: 100%;
}
.two .right{
    padding-left: 1px;
}
.two section .baoyou{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42px;
    height: 17px;
}
.two p:nth-of-type(1){
    font-size: 15px;
    color: #212121;
    margin-top: 10px;
    margin-left: 14px;
}
.two p:nth-of-type(2){
    font-size: 12px;
    color: #757575;
    margin-top: 1px;
    margin-left: 14px;
}
.two p:nth-of-type(3){
    font-size: 12px;
    color: #ff6102;
    margin-top: 4px;
    margin-left: 14px;
    margin-bottom: 8px;
}
.img6{
    width: 100%;
    margin-top: 7px;
}
.img7{
    width: 100%;
    margin-top: 6px;
}
.three section{
    margin-top: 1px;
    position: relative;
}
.three section .xinpin{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 42px;
    height: 17px;
}
.more{
    width: 100%;
    height: 52px;
    line-height: 52px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 7px;
}
.img8{
    width: 100%;
}
.img9{
    width: 100%;
    margin-top: 6px;
}
.four{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.four section{
    width: 50%;
}
.four section img{
    width: 100%;
}
.four p:nth-of-type(1){
    font-size: 16px;
    color: #212121;
    margin-top: 36px;
    margin-left: 16px;
}
.four p:nth-of-type(2){
    font-size: 13px;
    color: #757575;
    margin-top: 3px;
    margin-left: 16px;
    margin-right: 14px;
}
.four p:nth-of-type(3){
    font-size: 12px;
    color: #ff6102;
    margin-left: 16px;
    margin-top: 10px;
}
.five{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.five section{
    width: 50%;
    box-sizing: border-box;
}
.five .left{
    padding-right: 1px;
}
.five .right{
    padding-left: 1px;
}
.five img{
    width: 100%;
}
.img16,.img17{
    width: 100%;
}
.big{
    width: 100%;
    background-color: #fff;
}
.big img{
    width: 100%;
}
.big p:nth-of-type(1){
    font-size: 15px;
    color: #212121;
    margin-left: 14px;
    margin-top: 10px;
}
.big p:nth-of-type(2){
    font-size: 12px;
    color: #ff6102;
    float: right;
    margin-right: 14px;
    margin-top: -21px;
}
.big p:nth-of-type(3){
    font-size: 12px;
    color: #757575;
    margin-left: 15px;
    margin-top: 1px;
    padding-bottom: 10px;
}
.img19{
    width: 100%;
    margin-top: 7px;
}
.six{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.six section{
    box-sizing: border-box;
}
.six .left{
    width: 66.6%;
    padding-right: 1px;
}
.six .right{
    width: 33.3%;
    padding-left: 1px;
}
.six img{
    width: 100%;
}
.six p:nth-of-type(1){
    font-size: 15px;
    color: #212121;
    margin-left: 13px;
    margin-top: 10px;
}
.six p:nth-of-type(2){
    font-size: 12px;
    color: #ff6102;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 9px;
}
.seven{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.seven section{
    box-sizing: border-box;
}
.seven .left{
    width: 33.3%;
    padding-right: 1px;
}
.seven .right{
    width: 66.6%;
    padding-left: 1px;
}
.seven img{
    width: 100%;
}
.seven p:nth-of-type(1){
    font-size: 15px;
    color: #212121;
    margin-left: 13px;
    margin-top: 10px;
}
.seven p:nth-of-type(2){
    font-size: 12px;
    color: #ff6102;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 9px;
}
.img21{
    width: 100%;
    margin-top: 7px;
}
.eight{
    width: 100%;
    background-color: #fff;
    display: flex;
}
.eight section{
    width: 50%;
    box-sizing: border-box;
}
.eight .left{
    padding-right: 1px;
}
.eight .right{
    padding-left: 1px;
}
.eight img{
    width: 100%;
}
.eight p:nth-of-type(1){
    font-size: 15px;
    color: #212121;
    margin-left: 13px;
    margin-top: 10px;
}
.eight p:nth-of-type(2){
    font-size: 12px;
    color: #ff6102;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 9px;
}
.img23{
    width: 100%;
    margin-top: 7px;
}
.img25{
    width: 100%;
    margin-top: 7px;
}
.img27{
    width: 100%;
    margin-top: 7px;
}
.img29{
    width: 100%;
    margin-top: 7px;
}
.img31{
    width: 100%;
    margin-top: 7px;
}
.img33{
    width: 100%;
    margin-top: 7px;
}
.img35{
    width: 100%;
    margin-top: 7px;
}
.img37{
    width: 100%;
    margin-top: 7px;
}
.img38{
    width: 100%;
    margin-top: 7px;
}
.button{
    width: 100%;
    height: 47px;
    margin-top: 7px;
    background-color: #fff;
}
footer{
    width: 100%;
    height: 47px;
    background-color: #fff;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    border-top: 1px solid #e0e0e0;
}
footer>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
}
footer>div a div{
    margin: 0 auto;
}
footer>div:nth-of-type(1) a{
    color: #ff6102;
}
footer>div:nth-of-type(2) a{
    color: #979797;
}
footer>div:nth-of-type(3) a{
    color: #979797;
}
footer>div:nth-of-type(4) a{
    color: #979797;
}
footer>div:nth-of-type(1) a div{
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(img/last.png);
    background-position: 0px -120px;
}
footer>div:nth-of-type(2) a div{
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(img/last.png);
    background-position: 0px -20px;
}
footer>div:nth-of-type(3) a div{
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(img/last.png);
    background-position: 0px -60px;
}
footer>div:nth-of-type(4) a div{
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-image: url(img/last.png);
    background-position: 0px -100px;
}