body{
    margin: 0px;

}
a{
    text-decoration: none;
}
ol,li{
    margin: 0;
    padding: 0px;
}
li{
    list-style: none;
}
/***********样式初始化************/

header{
    height: 45px;
    width: 100%;
    background-color: #f2f2f2;
}
header div{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a img{
    width: 11px;
    height: 19px;
}
header div span{
    font-size: 16px;
}
.cp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cp section:nth-child(1){
    width: 40%;
    position: relative;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.cp section:nth-child(1) img{ 
    width: 100%;
}
.cp section:nth-child(1) img:nth-child(2){
    width: 25%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.cp section:nth-child(2){
    width: 60%;
    height: 100%;
    position: relative;
}
.cp section:nth-child(2)::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 3px;
    right: 0;
    border-bottom: 1px solid #e4e4e4;
}
.p1{
    margin-top: 24px;
    margin-left:14px;
    font-size: 15px;
    color: black;

}
.p2{
    margin-left: 14px;
    margin-right: 14px;
    font-size: 12px;
    color: #757575;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.p3{
    margin-left: 14px;
    color: #ff6d15;
    margin-bottom: 34px;
}
.cp-last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cp-last section:nth-child(1){
    width: 40%;
    position: relative;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.cp-last section:nth-child(1) img{ 
    width: 100%;
}


.cp-last section:nth-child(2){
    width: 60%;
    height: 100%;
    position: relative;
}
#hb{
    width: 50%;
    height: 17px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#xp{
    width: 25%;
    height: 17px;
    position: absolute;
    top: 0px;
    left: 0px;
}
















footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    display: flex;
    height: 47px;
    width: 100%;
}
footer>div{
    text-align: center;
    width: 25%;
    height: 100%;
}
footer>div a{
    width: 50%;
    height: 100%;
    color: gray;
}
footer>div:nth-child(1) a div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -140px;
}
footer>div:nth-child(2) a div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 0px;
}
footer>div:nth-child(2) a p{
    color: #ff6d15;
}
footer>div:nth-child(4) a div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -100px;
}
footer>div:nth-child(3) a div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -60px;
}
footer>div:nth-child(1) a:hover div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -120px;
    text-decoration:none;
    color:  #ff6d15;
}
footer>div:nth-child(3) a:hover div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -40px;
    text-decoration:none;
    color:  #ff6d15;
}
footer>div:nth-child(4) a:hover div{
    background-image: url(小米图片/jinglingtu.png);
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-size: 100%;
    background-position: 0 -80px;
    text-decoration:none;
    color:  #ff6d15;
}