body,input,a,p,ul,li{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #999;
}
input{
    box-sizing: border-box;
}
.clearfix:after{
    clear: both;
    content: "";
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*初始化*/
body{
    background-color: #f5f5f5;
}
nav{
 width: 100%;
 display: flex;
 align-items: center;
 position:fixed;
 top: 8px;
 left: 0;
 box-sizing: border-box;
text-align: center;
}
.logo{
    height: 17px;
    width: 13%;
}
.logo img{
    width: 26px;
    height: 17px;
    vertical-align: middle;
    text-align: center;
}
.nav-input{
    width: 74%; 
}
.nav-input input{
    width: 100%;
    height: 27px;
    /*margin-left: 18px;*/
    border: none;
    background: transparent;
    background-image: url(../image/nav/nav-search.png);
    background-size: 100% 100%;
    padding: 8px 0 7px 32px;
        
}

.nav-user{
    width:15px ;
    height: 20px;
    background-image: url(../image/nav/nav-user.png);
    background-size: 100% 100%;
    margin-left: 15px;
}
.sign-in{
    width: 13%;
    color: #fff;
    font-size: 16px;
   
}

header a{
    height: 73%;
    display: inline-block;
}
header img{
    height: 267px;
    width: 100%;
}
.box{
    background-color: #fff;
    margin-top: -2px;
    width: 100%;
}
.box>a>img{
    width: 78px;
    height: 40px;
    vertical-align: middle;
}
.box-content{
    margin-left: 11px;
    padding-left: 10px;
    border-left: 1px solid #999;
    color: #000;
}

.divider{
    height: 8px;
    width: 100%;
    background-color: #f5f5f5;
}

.sec1{
    display: inline-block;
    height: 265px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.sec1 a{
    display: inline-block;
}
.sec1-a1{
    width: 49.5%;
    height: 265px;

}
.sec1 img{
    width: 100%;
    height: 100%;
}
.sec1>div{
    width: 49.5%;
    height: 265px;
    
}
/*sec2 sec3*/
.sec2,.sec3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}
.sec2 a,.sec3 a{
    width:49.5%;
    height: 269px;;
    display: inline-block;
    flex-wrap: wrap;
}
.sec2  img,.sec3  img{
    width: 100%;
    height: 187px;
}
.sec2 .sec-1,.sec3 .sec-1,.sec4 .sec-1{
    width: 100%;
    height: 230px;
    display: inline-block;
}
.sec2 .sec-1 img,.sec3 .sec-1 img,.sec4 .sec-1 img{
    height: 100%;
}
.sec-div{
    padding: 10px 14px 11px 14px;
    box-sizing: border-box;
    margin-top: -3px;
    background-color: #fff;
}
.black{
    font-size: 15px;
    color: #000;
}
.brief{
    margin-top: 3px;
}
.price:before{
    content:"￥";
}
.price{
    color: #ff680e;
    font-size: 16px;
    margin-top: 4px;
}
.sec2 .sec-7,.sec3 .sec-7{
    width: 375px;
    height: 146px;
}
.sec2 .sec-7 img,.sec3 .sec-7 img{
    width: 100%;
    height: 146px;
}

.sec3>p,.sec4>p{
    height: 52px;
    text-align: center;
    width: 100%;
}
.more{
    line-height: 52px;
    font-size: 15px;
    display: inline;
}
.more:after{
    content: ">";
}
/*sec4*/
.sec4{
    display: flex;
    flex-wrap: wrap;
}
.sec4 a{
    width: 50%;
    display: inline-block;
    background-color: #fff;
}
.sec4 img{
    width: 100%;
    height: 100%;
}
.info{
    padding-top: 33px;
    padding-left: 17px;
    padding-right: 6px;
    box-sizing: border-box;
}
.info .price{
    margin-top: 10px;
}
.sec4>p .more{
    width:100%;
}

/*sec5*/
.sec5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec5 a{
    display: inline-block;
    width: 49.5%;
    height: 250px;
}
.sec5 a img{
    width: 100%;
    height: 100%;
}
.sec5 a:nth-of-type(7){
    width: 100%;
    height: 63px;
}
/*sec6*/
.sec6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec6 a{
    width: 49.5%;
    height: 207px;
    display: inline-block;
}
.sec6 a img{
    width: 100%;
    height: 125px;
}
.sec6>div{
    width: 100%;
    height: 43px;
}
.sec6>div img{
    width: 100%;
}
.sec6 a:nth-of-type(5){
    width: 100%;
    height: 250px;
}
.sec6 a:nth-of-type(5) img{
    height: 100%;
}
.sec-6-div{
    padding: 10px;    
    box-sizing: border-box;
}
.sec-6-div>div{
    height: 20px;
}
.sec-6-div .price{
    margin: 0;
}
.price span{
    font-size: 12px;
}
/*sec7*/
.sec7{
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.sec7 a{
    display: inline-block;
}
.sec7>div{
    width: 100%;
    height: 43px;
}
.sec7>div img{
    width: 100%;
    height: 100%;
}
.sec7 a:nth-of-type(1),.sec7 a:nth-of-type(4){
    width: 66%;
}
.sec7 a:nth-of-type(2),.sec7 a:nth-of-type(3){
    width: 33%;
}
.sec7 img{
    width: 100%;
    height: 167px;
}
.sec7 a:last-of-type{
    width: 100%;
}
.sec7 a:last-of-type img{
    height: 250px;
    width: 100%;
}

/*sec8*/
.sec8{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sec8 a{
    width: 49.5%;
    display: inline-block;
}
.sec8 a img{
    width: 100%;
    height: 187px;
}
.sec8>div{
    width: 100%;
    height: 43px;
}
.sec8>div img{
    width: 100%;
    height: 100%;
}
.sec8 a:nth-of-type(1){
    width: 100%;

}
.sec8 a:nth-of-type(1) img{
    height: 187px;
}

.sec-6-div>div{
    height: 20px;
}
.sec-6-div .price{
    margin: 0;
}
.price span{
    font-size: 12px;
}

/*sec9 sec10 sec11,sec12,sec13,sec14*/
.sec9,.sec10,.sec11,.sec12,.sec13,.sec14,.sec15,.sec16{
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
}
.sec9-1{
    height: 42px;
}
.sec9 img,.sec10 img,.sec13 img,.sec16 img{
    width: 100%;
    height: 167px;
}
.sec11 img{
    width: 100%;
    height: 125px;
}
.sec12 img,.sec14 img{
    width: 100%;
    height: 187px;
}
.sec15 img{
    width: 100%;
    height: 106px;
}
.sec9>div,.sec10>div,.sec11>div,.sec12>div,.sec13>div,.sec14>div,.sec15>div,.sec16>div{
    width: 100%;
}
.sec9>div img,.sec10>div img,.sec11>div img,.sec12>div img,.sec13>div img,.sec14>div img,.sec15>div img,.sec16>div img{
    width: 100%;
    height: 42px;
}
.sec9 a:nth-of-type(2),.sec9 a:nth-of-type(5),.sec10 a:nth-of-type(1),.sec10 a:nth-of-type(4),
.sec11 a:nth-of-type(1),.sec11 a:nth-of-type(4),.sec13 a:nth-of-type(1),.sec13 a:nth-of-type(4),
.sec16 a:nth-of-type(2),.sec16 a:nth-of-type(4){
    width: 66%;
}
.sec9 a:nth-of-type(3),.sec9 a:nth-of-type(4),.sec10 a:nth-of-type(2),.sec10 a:nth-of-type(3),
.sec11 a:nth-of-type(2),.sec11 a:nth-of-type(3),.sec13 a:nth-of-type(2),.sec13 a:nth-of-type(3)
,.sec16 a:nth-of-type(1),.sec16 a:nth-of-type(5){
    width: 33%;
}
.sec12 a,.sec14 a,.sec15 a{
    width: 49.5%;
}
.sec9 a:first-of-type,.sec11 a:last-of-type,.sec14 a:first-of-type,.sec15 a:first-of-type,.sec16 a:nth-of-type(3){
    width: 100%;
}
.sec9 a:first-of-type img,.sec11 a:last-of-type img,.sec15 a:nth-of-type(1) img{
    height: 375px;
}
.sec13 a:last-of-type img,.sec16 a:nth-of-type(3) img{
    height: 250px;
}

.through{
    text-decoration: line-through;
    color: #000;
    font-size: 12px;
}


/*footer*/
li{
    list-style: none;
}
.bottom{
    height: 47px;
}
.footer{
    height: 47px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
     border: 1px solid #e0e0e0;
}
.footer li a{
    display: block;
}
.footer>ul{
    height: 47px;
    display: flex;
    align-items: center;
}
.footer li{
    width: 25%;
    text-align: center;
}
.footer-div{
    width: 21px;
    height: 21px;
    margin: 0 auto;
    background-image: url(../image/footer/sprite.png);
    background-size: 100% 800%;
}
.footer li:nth-of-type(1) .footer-div{
    background-position: 0 -126px;
}
.footer li:nth-of-type(2) .footer-div{
    background-position: 0 -21px;
}
.footer li:nth-of-type(3) .footer-div{
    background-position: 0 -63px;
}
.footer li:nth-of-type(4) .footer-div{
    background-position: 0 -105px;
}